<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Optimize rendering performance -->
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>

    <!-- Required for contacts permission -->
    <key>NSContactsUsageDescription</key>
    <string>We need access to your contacts.</string>

    <!-- Background fetch / BGTaskScheduler -->
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>com.bilalazzam.mycontacts.contactsSync</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>processing</string>
    </array>
</dict>
</plist>
